@import "tailwindcss";

body {
  font-family: var(--font-body), ui-sans-serif, system-ui, sans-serif;
}

.font-title {
  font-family: var(--font-title), serif;
  letter-spacing: 0.02em;
}

.font-body {
  font-family: var(--font-body), ui-sans-serif, system-ui, sans-serif;
}